/*-------------------------
    Footer
--------------------------*/
.footer {
    background-color: #161616;
}

.footer-top {
    padding-top: 110px;
    padding-bottom: 63px;
}

.footer__widget-title {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 25px;
}

.footer__widget-about {
    img {
        margin-bottom: 35px;
    }

    p {
        color: #f4f4f4;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 11px;

        &:first-child {
            font-size: 15px;
        }
    }
}

.footer__widget-newsletter .footer__widget-content {
    background-color: #121212;
    border-radius: 1px;
    padding: 40px 30px;

    .footer__widget-title {
        margin-bottom: 11px;
        color: $color-theme;
    }

    p {
        color: #f4f4f4;
        margin-bottom: 26px;
    }
}

.widget__newsletter-form {
    position: relative;

    .form-control {
        font-size: 13px;
        background-color: transparent;
        border: 1px solid #212121;

        &:focus {
            background-color: transparent;
            border-color: $color-theme;
        }
    }

    .btn {
        width: 82px;
        height: 30px;
        line-height: 26px;
        border-radius: 1px;
        letter-spacing: 0;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.footer__widget-nav li a,
.footer__copyright-links li a {
    display: block;
    position: relative;
    color: #f4f4f4;
    font-size: 14px;
    line-height: 33px;

    &:hover {
        color: $color-theme;
    }
}

.footer__copyright-links li a {
    margin-right: 14px;
    padding-right: 14px;
    margin-bottom: 3px;

    &:after {
        content: '-';
        position: absolute;
        right: 0;
        color: $color-body;
    }
}

.footer__copyright-links li:last-child a:after {
    display: none;
}

.footer__contact-link a {
    position: relative;
    padding-bottom: 1px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-theme;
        @include prefix(transition, all 0.4s ease, webkit moz o);
    }

    &:hover {
        color: $color-white;

        &:after {
            background-color: $color-white;
        }
    }
}

.footer-bottom {
    padding: 30px 0;
    border-top: 2px solid #212121;

    .social__icons a {
        color: $color-body;
        font-size: 17px;

        &:hover {
            color: $color-white;
        }
    }
}

/* Scroll Top Button */
#scrollTopBtn {
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    opacity: 0;
    z-index: 1000;
    font-size: 18px;
    border-radius: 4px;
    color: $color-white;
    background-color: $color-dark;
    overflow: hidden;
    @include prefix(transition, all .3s ease-in-out, webkit moz ms o);

    &:hover {
        background-color: $color-theme;
    }
}

#scrollTopBtn.actived {
    right: 30px;
    opacity: 1;
}

/* Medium Size Screens */
@include md-screens {
    .footer-top {
        padding-top: 70px;
        padding-bottom: 50px;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .footer-top {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .footer__widget {
        margin-bottom: 30px;
    }

    .footer-top .footer__widget-title {
        margin-bottom: 20px;
    }

    .footer-bottom .social__icons {
        margin-top: 20px;
        justify-content: flex-start !important;
    }
}

/* Extra Small Devices */
@include xs-screens {
    .footer-bottom {
        padding: 25px 0;
    }

    .footer__copyright-links {
        margin-bottom: 10px;

        li a {
            font-size: 13px;
            line-height: 20px;
            margin-right: 10px;
            padding-right: 10px;
        }
    }

    .footer__widget-newsletter .footer__widget-content {
        padding: 30px;
    }

    #scrollTopBtn {
        bottom: 20px;
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    #scrollTopBtn.actived {
        right: 20px;
    }
}

@media only screen and (max-width:400px) {
    .widget__newsletter-form .btn {
        position: static;
        margin-top: 10px;
    }

    .footer__widget-nav li a,
    .footer__copyright-links li a {
        font-size: 13px;
        line-height: 30px;
    }

    .footer__widget-newsletter .footer__widget-content {
        padding: 20px;
    }
}