/*----------------------------
     Testimonial
------------------------------*/

.testimonial-item {
    position: relative;
    padding-top: 30px;

    .testimonial__rating {
        line-height: 1;
        margin-bottom: 21px;

        i {
            color: #ff5e14;
        }
    }

    .testimonial__content {
        position: relative;
        z-index: 2;
        margin-left: 120px;

        &:before {
            content: "";
            position: absolute;
            top: -30px;
            left: 0;
            z-index: -1;
            width: 90px;
            height: 64px;
            display: inline-block;
            background-image: url(../images/testimonials/quote-icon.png);
        }
    }

    .testimonial__desc {
        font-family: $font-heading;
        color: $color-heading;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500;
        margin-bottom: 19px;
    }
}

.testimonial__meta {
    position: absolute;
    top: 30px;
    left: 0;

    .testimonial__meta-title {
        font-family: $font-heading;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 3px;
        display: block;
    }

    .testimonial__meta-desc {
        font-family: $font-body;
        line-height: 23px;
        font-weight: 400;
        font-size: 13px;
        color: #616161;
        margin-bottom: 0;
        display: block;
    }
}

.testimonial__thumb {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid $color-theme;
    margin-bottom: 12px;
    display: inline-block;

    img {
        max-width: 100%;
        border-radius: 50%;
    }
}

.testimonial-wrap-panel {
    background-color: $color-gray;
    padding: 60px 0 40px;

    .testimonial-item {
        margin: 0 100px;
    }
}

.testimonial .carousel-dots .owl-dots {
    margin-top: 22px;
}

.testimonial-2 {
    .testimonial-item:before {
        top: 10px;
        bottom: auto;
    }

    .testimonial-item .testimonial__content {
        padding: 40px 40px 10px;
    }

    .testimonial__thumb {
        margin-bottom: 14px;
    }

    .testimonial-item .testimonial__desc {
        font-size: 21px;
        line-height: 34px;
        font-weight: 500;
    }

    .owl-thumb-item {
        opacity: 0.5;
        margin-right: 42px;

        .testimonial__thumb {
            transform: scale(0.8);
        }
    }

    .owl-thumb-item:last-child {
        margin-right: 0;
    }

    .owl-thumb-item.active {
        opacity: 1;

        .testimonial__thumb {
            transform: scale(1);
        }
    }
}

/* Medium Size Screens */
@include md-screens {
    .testimonial-2 .testimonial-item .testimonial__desc {
        font-size: 18px;
        line-height: 28px;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .testimonial-wrap-panel {
        padding: 20px 0 20px;

        .testimonial-item {
            margin: 0 20px;
        }
    }

    .testimonial-item .testimonial__desc {
        font-size: 15px !important;
        line-height: 25px !important;
        font-weight: 400;
    }

    .testimonial-2 .testimonial-item .testimonial__content {
        padding: 20px 0 0;
    }

    .testimonial-2 .owl-thumb-item {
        margin-right: 20px;
    }
}

/* Extra Small Devices */
@include xs-screens {
    .testimonial__meta {
        position: relative;
        top: 0;
        z-index: 3;
    }

    .testimonial-item .testimonial__content {
        margin: 0;
    }

    .testimonial__content:before {
        opacity: 0.7;
    }

    .testimonial-wrap-panel .testimonial-item {
        padding-top: 0;
    }
}

/* Custom Media in Mobile Phones */
@media only screen and (max-width: 400px) {
    .testimonial__meta .testimonial__meta-title {
        margin-bottom: 0;
    }

    .testimonial-2 .owl-thumb-item {
        margin-right: 13px;
    }
}